/* Created : 12:11 11/12/2018
   Created By : lachn
   _variables - OPEN
*/

// Colors
$color__grey--dark      : #404040;
$color__blue--dark      : #0E1C3A;
$color__blue--medium    : #104198;
$color__blue--light     : #c8e7f7;
$color__purple          : #26223e;
$color__white           : white;

// Break Points

$breakpoint__size--xl: 1690px;
$breakpoint__size--lg: 1280px;
$breakpoint__size--md: 980px;
$breakpoint__size--sm: 768px;
$breakpoint__size--xs: 480px;

// page margins

$page-margin : 60px;
$page-margin-mobile: 20px;
/* _variables - CLOSE */