/* Created : 01:40 15/12/2018
   Created By : lachn
   _altflipcard - OPEN
*/

.alt-flip-card {
      $id: &;
      border: 1px solid $color__white;
      box-sizing: border-box;
      @include breakpoint(mobileonly) {
            width: 50%;
      }
      @include breakpoint(tablet) {
            width: calc(100% / 3);
      }

      &__list {
            display: flex;
            flex-wrap: wrap;
      }

      &__image {
            width: 100%;
            height: 40vw;
            @include breakpoint(mobileonly) {
                  display: block !important;
            }
            @include breakpoint(tablet) {
                  height: 20vw;
            }
      }

      &__front, &__back {
            box-sizing: border-box;
            padding: 0 $page-margin-mobile;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @include breakpoint(mobileonly){
                  background-image: none !important;
            }
            @include breakpoint(phablet) {
                  padding: 0 $page-margin;

            }

            *{
                  color: $color__white;
            }

            h4{
                  color: $color__blue--light;
            }

      }

      &__inner {
            width: 100%;
      }

      &--blue-dark {
            background-color: $color__blue--dark;
            @include max-breakpoint(mobileonly) {
                  #{$id}__front,#{$id}__back{
                        background-color: $color__blue--dark;
                  }
            }
      }

      &--blue-medium {
            background-color: $color__blue--medium;
            @include max-breakpoint(mobileonly) {
                  #{$id}__front,#{$id}__back{
                        background-color: $color__blue--medium;
                  }
            }
      }

      &--grey-dark {
            background-color: $color__grey--dark;
            @include max-breakpoint(mobileonly) {
                  #{$id}__front,#{$id}__back{
                        background-color: $color__grey--dark;
                  }
            }
      }

      @include max-breakpoint(mobileonly) {
            width: 100%;
            perspective: 1000px;
            height: 250px;
            background-color: black;

            &__inner {
                  position: relative;
                  height: 100%;
                  transition: transform 2000ms;
                  transform-style: preserve-3d;
                  width: 100%;
            }

            &__inner:hover {
                  transform: rotateY(180deg);
            }

            &__front, &__back {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  backface-visibility: hidden;
                  @include center-content;
            }
            &__back {
                  transform: rotateY(180deg);
            }

            &__front{
                  padding: 0;
            }

      }
}

/* _altflipcard - CLOSE */