/* Created : 19:17 15/12/2018
   Created By : lachn
   _contactform - OPEN
*/

.contact-form{
      background-color: $color__grey--dark;
      padding: $page-margin-mobile;
      color: $color__white;
      position: relative;
      @include breakpoint(phablet) {
            padding: $page-margin;
      }
      &__row{
            margin-bottom: $global__input--margin;
            @include breakpoint(mobileonly){
                  display: flex;

            }

            input + input {
                  margin-top: $global__input--margin;
                  margin-left: 0;
                  @include breakpoint(mobileonly) {
                        margin-left: $global__input--margin;
                        margin-top: 0;
                  }


            }

            button{
                  display: block;
                  margin: auto;
                  @include breakpoint(mobileonly){
                        margin: initial;
                  }
            }


      }
}

/* _contactform - CLOSE */